.pageHeader {
    text-align: left;
    font-size: .7cm;

}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop {
    flex-basis: 16%; 
    border: 1px dotted darksalmon;
    padding: 1em;
    text-align: center;
}